<%= render "shared/home_login_header" %>





<% if current_user.nil? %>

<% else %>

<div class="alert alert-success" role="alert" >
<p>Welcome ! <%= current_user.first_name %> </p>


</div>
 
<% end %>


    <div class="row">
   
      <div class="col-sm-9" style="background-color:white;">

        <br/>
      	

<div class="text-center">
<%= image_tag("ctstaff.jpg", class: "img-fluid", :size => "600x600") %>
</div>

<div align="center">





<% if current_user.nil? %> 
<%= link_to new_user_session_path, class: 'btn btn-lg btn btn-primary' do %>Login<% end %>
<%= link_to new_user_registration_path, class: 'btn btn-lg btn btn-success' do %>Register<% end %>


   <% else %>

   <%= link_to user_dashboard_path, class: 'btn btn-lg btn btn-success' do %>Create/View Activity<% end %>
   <%= link_to destroy_user_session_path, class: 'btn btn-lg btn btn-warning' do %>Logout<% end %>


   

   <% end %>



  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>



</div>

  
      </div>
      <div class="col-sm-3" style="background-color:white;">
      	
  <br/>
       <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Announcements!!! </strong> <br/>
  Kindly check this space for very important announcements

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="alert alert-secondary" role="alert">
  Ecclesiastes 9:10
<br/>
Whatever your hand finds to do, do it with your might; for there is no work or device or knowledge or wisdom in the grave where you are going.
</div>

    <div class="calendar calendar-first" id="calendar_first">
    <div class="calendar_header">
        <button class="switch-month switch-left"> <i class="fa fa-chevron-left"></i></button>
         <h2></h2>
        <button class="switch-month switch-right"> <i class="fa fa-chevron-right"></i></button>
    </div>
    <div class="calendar_weekdays"></div>
    <div class="calendar_content"></div>
</div>


<div class="showtime">
 Time :<%= Time.now.strftime("%H:%M")  %>
</div>


      </div>

    </div>






