<%= render "shared/home_login_header" %>





<% if current_user.nil? %>

<% else %>

<div class="alert alert-success" role="alert" >
<p>Welcome ! <%= current_user.first_name %> </p>


</div>
 
<% end %>


    <div class="row">
      <div class="col-sm-9" style="background-color:white;">
      	


<div class="text-center">
<%= image_tag("swafhome.jpg", class: "img-fluid") %>
</div>

<div align="center">





<% if current_user.nil? %> 
<%= link_to new_user_session_path, class: 'btn btn-lg btn btn-primary' do %>Login<% end %>
<%= link_to new_user_registration_path, class: 'btn btn-lg btn btn-success' do %>Register<% end %>


   <% else %>

   <%= link_to user_dashboard_path, class: 'btn btn-lg btn btn-success' do %>Create/View Activity<% end %>
   <%= link_to destroy_user_session_path, class: 'btn btn-lg btn btn-warning' do %>Logout<% end %>


   

   <% end %>



  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>



</div>


      </div>
      <div class="col-sm-3" style="background-color:white;">
      	

      	<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">Ecclesiastes 9:10</h4>
  <p>Whatever your hand finds to do, do it with your might; for there is no work or device or knowledge or wisdom in the grave where you are going.</p>
  <hr>
  <p class="mb-0"><i>kindly contact the church office if you have any questions</i></p>
</div>


<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Announcements!!! </strong> <br/>
  Kindly check this space for very important announcements

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
      </div>
    </div>






