

 <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">

 <%= link_to root_path,class: 'navbar-brand' do %>
CT Work Activity Form

<% end %>
   
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">


<% if current_user.nil? %>

 <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Link</span>
          </a>
        </li>

<%else %>

       
       <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Create Activity">

     <%= link_to user_dashboard_path,class: 'nav-link' do %>
      <i class="fa fa-fw fa-dashboard"></i> Dashboard
      <% end %>

      </li>

   





     




      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
<a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#activities" data-parent="#exampleAccordion">
<i class="fa fa-child"></i>
<span class="nav-link-text">Activities</span>
</a>
<ul class="sidenav-second-level collapse" id="activities">
<li> 
 <%= link_to new_activity_path,class: 'nav-link' do %>
      <i class="fa fa-fw fa-plus-circle"></i> New Activity
      <% end %>
</li>


<li> 
 <%= link_to activities_path,class: 'nav-link' do %>
      <i class="fa fa-fw fa-eye"></i> View Activities
      <% end %>
</li>


<li>

   <%= link_to staff_approved_list_path,class: 'nav-link' do %>
      <i class="fa fa-check-circle"></i> Approved Activities
      <% end %>

 </li>     


<li>
  <%= link_to staff_pending_list_path,class: 'nav-link' do %>
      <i class="fa fa-hourglass-start"></i> Pending Activities
      <% end %>
</li>

<li>
  <%= link_to staff_rejected_list_path,class: 'nav-link' do %>
      <i class="fa fa-times"></i> Rejected Activities
      <% end %>
</li>

</ul>


</li>
<% if current_user.ss_role? %>

<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
<a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
<i class="fa fa-fw fa-sitemap"></i>
<span class="nav-link-text">Dept. Head Functions</span>
</a>
<ul class="sidenav-second-level collapse" id="collapseMulti">
<li>
<%= link_to approval_list_path,class: 'nav-link' do %>
<i class="fa fa-fw fa-eye"></i> View 
<%end %>

</li>



</ul>


</li>

<% elsif current_user.su_role? %>

<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
<a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
<i class="fa fa-fw fa-sitemap"></i>
<span class="nav-link-text">Sector Head Functions</span>
</a>
<ul class="sidenav-second-level collapse" id="collapseMulti">
<li>
<%= link_to sector_approval_list_path,class: 'nav-link' do %>
<i class="fa fa-fw fa-eye"></i> View 
<%end %>

</li>



</ul>


</li>

<% else %>



<%end %>

         

              





        <% end %>


         <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
<a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#staffreport" data-parent="#exampleAccordion">
<i class="fa fa-fw fa-book"></i>
<span class="nav-link-text"> Reports</span>
</a>
<ul class="sidenav-second-level collapse" id="staffreport">
<% if current_user.su_role? %>
<li>

 <%= link_to base_report_path,class: 'nav-link' do %>
 <i class="fa fa-fw fa-print"></i> Print all activities
 <% end %>

</li>

<% end %>

<li>

 <%= link_to activities_path(format: 'pdf'),class: 'nav-link' do %>
 <i class="fa fa-fw fa-print"></i> Print your activities
 <%end %>

</li>






</ul>


</li>


           <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Contact">

     <%= link_to contact_path,class: 'nav-link' do %>
      <i class="fa fa-phone"></i> Contact IT
      <% end %>

      </li>
     

           <li class="nav-item" data-toggle="tooltip" data-placement="right" title="About">

     <%= link_to about_path,class: 'nav-link' do %>
      <i class="fa fa-info-circle"></i> About
      <% end %>

      </li>

     










      </ul>


      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>



      <ul class="navbar-nav ml-auto">
        
       <% if current_user.nil? %>

       
       <li class="nav-item">

<%= link_to new_user_session_path,class: 'nav-link' do %>
<i class="fa fa-fw fa-sign-in"></i> Login
<% end %>

</li>


<% else %>
       
       <li class="nav-item">

<%= link_to destroy_user_session_path,class: 'nav-link' do %>
<i class="fa fa-fw fa-sign-out"></i> Logout
<% end %>

</li>




<% end %>



      </ul>
    </div>
  </nav>

