
<div class="card card-login mx-auto mt-5">
<div class="card-header">Staff Work Activity Form</div>
<div class="card-body">


<%= form_with(url: base_report_path) do |form| %>


<%= form.label :date_from %>
<%= form.text_field :date_from , :class => "form-control",id: 'dateFrom'%>


<%= form.label :date_from %>
<%= form.text_field :date_to , :class => "form-control",id: 'dateTo'%>




<br/>
<br/>



<a id="postdate" class="btn btn-lg btn btn-primary" href="/base-report.pdf?"> Print activities
</a>






<%end %>

</div>
</div>



