
 <div class="container">

<p id="notice"><%= notice %></p>

 <!-- Example DataTables Card-->
 <br/>
 <br/>

      <% if @activities.empty? %>

       <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Staff Work Activity </div>
        <div class="card-body">
                    <h1> No activities created </h1>

                  </div>
                  
                  </div>
                  </div>  

                 
               <% else %>

      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Staff Work Activity </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                <th>Staff Name</th>
                <th>Time from</th>
                <th>Time to </th>
                <th>Activity</th>
                <th>Remarks</th>
                <th>Date Created </th>
                <th>Show </th>
                <th>Edit </th>
                <th>Delete </th>
                <th>Approval status </th>
                  <th>Supervisor comment </th>
                    <th>Sector Head's comment </th>
                  
                </tr>
              </thead>
              <tfoot>
                <tr>
                <th>Staff Name</th>
                    <th>Time from</th>
                  <th>Time to </th>
                  <th>Activity</th>
                  <th>Remarks</th>
                  <th>Date Created </th>
                   <th>Show </th>
                     <th>Edit </th>
                       <th>Delete </th>
                         <th>Approval status</th>
                         <th>Supervisor comment </th>
                           <th>Sector Head's comment </th>
                
                </tr>
              </tfoot>
               <tbody>

         

                 <% @activities.each do |activity| %>
                     <tr>
       <td><%= activity.user.first_name %></td>
        <td><%= activity.time_from.strftime('%a, %d %b %Y %H:%M:%S') %></td>
        <td><%= activity.time_to.strftime('%a, %d %b %Y %H:%M:%S') %></td>
        <td><%= activity.detail %></td>
        <td><%= activity.remarks %></td>
        <td><%= activity.created_at.strftime('%a, %d %b %Y %H:%M:%S') %></td>

        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          

         
           <td>  <%=  activity.status %> </td>
         

            <td>  <%=  activity.supervisor_comment %> </td>

            <td>  <%=  activity.sector_head_comment %> </td>

      </tr>

                <% end %>
           

            
             </tbody>

            </table>
            </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            <%= link_to 'New Activity', new_activity_path %>

            </div>



  <% end %>




</div>
