


 <div class="container">
 <br/>
 <br/>
 <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-eye"></i> Activity </div>
        <div class="card-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Time from:</strong>
  <%= @activity.time_from.strftime('%a, %d %b %Y %H:%M:%S') %>
</p>

<p>
  <strong>Time to:</strong>
  <%= @activity.time_to.strftime('%a, %d %b %Y %H:%M:%S') %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @activity.detail %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @activity.remarks %>
</p>

<p>
  <strong>Sector Head's remarks:</strong>
  <%= @activity.sector_head_comment %>
</p>


<p>
  <strong>Supervisor's remarks:</strong>
  <%= @activity.supervisor_comment %>
</p>

<p>
  <strong>Approval status:</strong>
  <%= @activity.status %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', user_dashboard_path %>

</div>
</div>
</div>