


 <div class="container">
 <br/>
 <br/>
 <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-eye"></i> Activity </div>
        <div class="card-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Time from:</strong>
  <%= @activity.time_from %>
</p>

<p>
  <strong>Time to:</strong>
  <%= @activity.time_to %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @activity.detail %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @activity.remarks %>
</p>

<p>
  <strong>Approval status:</strong>
  <%= @activity.status %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>

</div>
</div>
</div>