
 <div class="container">

<p id="notice"><%= notice %></p>

 <!-- Example DataTables Card-->
 <br/>
 <br/>

      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Staff Work Activity</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Staff Name</th>
                  <th>Time from</th>
                  <th>Time to </th>
                  <th>Activity</th>
                    <th>Remarks</th>
                   <th>Show </th>
                     <th>Edit </th>
                       <th>Delete </th>
                         <th>Approved? </th>
                           
                  <th>Date Created </th>
                  
                </tr>
              </thead>
              <tfoot>
                <tr>
                <th>Staff Name</th>

                    <th>Time from</th>
                  <th>Time to </th>
                  <th>Activity</th>
                  <th>Remarks</th>
                 
                   <th>Show </th>
                     <th>Edit </th>
                       <th>Delete </th>
                         <th>Approved? </th>
                          <th>Date Created </th>
                
                </tr>
              </tfoot>
               <tbody>

                 <% @staffapproved.each do |activity| %>
                     <tr>
       <td><%= activity.user.first_name %></td>
        <td><%= activity.time_from.strftime('%a, %d %b %Y %H:%M:%S') %></td>
        <td><%= activity.time_to.strftime('%a, %d %b %Y %H:%M:%S') %></td>
        <td><%= activity.detail %></td>
        <td><%= activity.remarks %></td>
         

        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          

          <%if current_user.su_role? || current_user.ss_role? %>

           <td><%= link_to activity.status, toggle_status_activity_path(activity) %></td>
           <% else %>
           <td>  <%=  activity.status %> </td>

          

           <%end %>

             <td><%= activity.created_at .strftime('%a, %d %b %Y %H:%M:%S')%></td>

      </tr>

   <% end %>


            
             </tbody>

            </table>
            </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            <%= link_to 'New Activity', new_activity_path %>

            </div>








</div>
