
<br/>
<br/>
<%= render "shared/home_login_header" %>

<%= form_with(model: report, local: true) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul> <%= render "shared/home_login_header" %>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :report_name %>
  </div>

  <div class="field">
    <%= form.label :date_from %>
    <%= form.text_field :date_from ,id: 'dateFrom' %>
  </div>

  <div class="field">
    <%= form.label :date_to %>
    <%= form.text_field :date_to,id: 'dateTo' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
